/* Updated 27 December 2020 */

:root {
	--accent-color: #dfafff;
	--health-color: var(--accent-color);
	--ammo-color: #fff;
	--premium-color: #fbc02d;
	--verified-color: #40c4ff;
	--menu-bg-color: rgba(15, 15, 15, .2);
	--menu-bg-color-secondary: rgba(0, 0, 0, .5);
	--ingame-bg-color: rgba(15, 15, 15, .2);
	--text-transform: lowercase;
}

@font-face {
	font-family: gamefont;
	src: url(https://fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2);
}

@font-face {
	font-family: hpammo;
	src: url(https://github.com/ujjwalsidhu/font/blob/main/Renogare.ttf);
}

* {
	color: var(--accent-color);
}

[style*="color:#eb5656"] {
	color: var(--accent-color) !important;
}

[style*="color:rgba(0,0,0,0.3)"] {
	color: rgba(255, 255, 255, .5) !important;
}

[style*="color:#9eeb56"] {
	color: rgba(255, 255, 255, .6) !important;
}

[style*="font-size:20px;color:#fff;display:inline-block;"] {
	color: var(--accent-color) !important;
}

[style*="margin-top:10px;font-size:20px;color:rgba(255,255,255,0.4)"] {
	display: none !important;
}

option {
    background-color: #000;
    color: var(--accent-color);
}

a {
	color: var(--accent-color);
}

a:active {
	color: var(--accent-color);
}

a:visited {
	color: var(--accent-color);
}

a:hover {
	color: #fff;
	text-decoration: none;
}

.material-icons {
	font-family: 'Material Icons';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
}

.material-icons[style*="color:#FBC02D"] {
	color: var(--verified-color) !important;
}

.material-icons[style*="color:#40C4FF"] {
	color: var(--verified-color) !important;
}

#aHolder {
	display: none !important;
}

.endAHolder {
	display: none !important;
}

#mainLogo {
	display: none !important;
}

#streamContainer {
	display: none !important;
}

#merchImg {
	display: none;
}

#ot-sdk-btn-floating.ot-floating-button {
	display: none !important;
}

#seasonLabel {
    display: none !important;
}

#newsHolder {
	display: none;
	background-color: var(--menu-bg-color);
    border-radius: 0;
}

.newsItem {
    color: #fff;
    border: none;
}

.newsItem span {
    color: #fff !important;
}

#uiBase.onMenu #spectButton {
	position: fixed;
	left: 20px;
	top: 85px;
	transform: none;
	text-transform: var(--text-transform);
}

#uiBase.onMenu #claimHolder {
	left: 20px;
	transform: none;
}

#claimImg {
	height: 70px;
}

#claimTimer {
	text-transform: var(--text-transform);
}

#braveWarning {
	display: none !important;
}

.button {
	background-color: transparent !important;
	color: var(--accent-color) !important;
	text-shadow: none !important;
	box-shadow: none !important;
	text-transform: var(--text-transform);
}

.button:hover {
	background-color: transparent !important;
	color: #fff !important;
	-webkit-transform: none;
	transform: none;
}

.button.small {
	font-size: 18px !important;
	text-shadow: none !important;
	box-shadow: none !important;
}

.button.small:hover {
	background-color: transparent !important;
}

.buttonPI {
	box-shadow: none !important;
}

.buttonPI:hover {
	box-shadow: none !important;
}

.buttonR {
	box-shadow: none !important;
}

.buttonR:hover {
	box-shadow: none !important;
}

.buttonP {
	box-shadow: none !important;
}

.buttonP:hover {
	box-shadow: none !important;
}

.buttonG {
	box-shadow: none !important;
}

.buttonG:hover {
	box-shadow: none !important;
}

.button.lgn {
	position: absolute;
	left: 0;
	width: max-content !important;
	padding-left: 22px !important;
	margin-left: 8px !important;
	font-size: 18px !important;
}

.button.lgn .material-icons {
	display: none;
}

#subLogoButtons {
	bottom: 80px;
	transform: translateX(-50%);
}

#menuBtnHost {
	visibility: hidden;
	font-size: 0 !important;
}

#menuBtnHost:after {
	visibility: visible;
	font-size: 18px !important;
	content: 'Host';
	text-transform: var(--text-transform);
}

#teamSelector {
	bottom: 150px;
}

.centSwitch {
	margin-top: 0;
}

.sliderCent {
	border-radius: 0;
	background-color: var(--menu-bg-color-secondary);
}

.sliderCent:before {
	border-radius: 0;
	background-color: #fff;
}

.settText {
	color: var(--accent-color);
}

.settText:hover {
	color: #fff !important;
	text-decoration: none;
}

.settLabel {
	font-size: 18px;
}

.settLabel[style*="color:#2196F3"] {
	color: var(--accent-color) !important;
}

.wepLink {
	font-size: 18px;
}

.wepLink:hover {
	color: #fff !important;
	text-decoration: none;
}

.floatR {
	font-size: 18px;
}

.settName,
.settNameSmall {
	color: var(--accent-color);
	font-size: 18px;
	margin-top: 20px !important;
}

.settNameSmall {
	margin-top: 0 !important;
}

.b {
	color: #fff !important;
}

.setHed {
	color: #fff;
	font-size: 18px;
}

.plusOrMinus {
	font-size: 36px !important;
	margin-right: -8px !important;
}

.floatR [style*="color:rgba(0,0,0,0.5)"] {
	color: var(--accent-color) !important;
}

#termsInfo {
    background-color: transparent;
}

.terms {
	color: var(--accent-color);
	text-transform: var(--text-transform);
}

.terms:hover {
	text-decoration: none;
	color: #fff;
}

.standout {
	font-size: 0;
	pointer-events: none;
	visibility: hidden;
}

.standout::before {
	content: 'css.reizu.moe';
	font-size: 18px;
	margin-right: 22px;
	color: rgba(255, 255, 255, .5);
	visibility: visible;
}

.standout::after {
	content: 'Advertise';
	font-size: 18px;
	pointer-events: all;
	visibility: visible;
}

.headerBarLeft {
	border-radius: 0;
	background-color: transparent;
}

.headerBarRight {
	border-radius: 0;
	background-color: transparent;
}

.verticalSeparator {
	visibility: hidden;
}

.headerBarRight .verticalSeparator {
	display: none;
}

.verticalSeparatorInline {
	visibility: hidden;
	height: 0;
}

#menuMiniProfilePic {
	display: none;
}

#menuAccountUsername {
	font-size: 16px;
	margin-left: 10px;
}

#menuKRCount {
	font-size: 16px;
}

#menuLevelIcon {
	display: none;
}

#menuLevelText {
	font-size: 16px;
	text-transform: var(--text-transform);
}

.progressBar {
	background: var(--menu-bg-color-secondary);
	border-radius: 0;
}

.progressBarInner {
	background: var(--accent-color);
	border-radius: 0;
}

#mailIcon:hover {
	opacity: 1;
	transform: none
}

#mLevelCont {
	background-color: transparent;
	text-shadow: none;
	border-bottom-right-radius: 0;
}

.menuClassPlayerPremium {
	color: var(--premium-color) !important;
}

.menuClassPlayerVerified {
	color: var(--verified-color) !important;
}

.menuClassPlayerVirus {
	display: none;
}

#menuClassSubtext {
	text-shadow: none;
	text-transform: var(--text-transform);
}

#menuClassName {
	text-shadow: none;
	text-transform: var(--text-transform);
}

#customizeButton .material-icons {
	display: none;
}

#policeButton {
    display: none;
}

.krSocial {
	display: none;
}

.imageButton {
	display: none !important;
}

#editorBtnM {
    display: none;
}

#menuRegionLabel {
	text-transform: var(--text-transform);
}

#menuFPSDisplay {
	text-transform: var(--text-transform);
}

#menuFPS {
	color: var(--accent-color) !important;
}

#menuPingIcon {
	color: var(--accent-color) !important;
}

.mailObj {
	background-color: var(--menu-bg-color-secondary);
	border-radius: 0;
}

.mailFrom {
	color: var(--accent-color);
}

.mailText {
    color: #fff;
}

#menuItemContainer {
	width: fit-content;
	height: min-content;
	top: unset;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	flex-direction: row;
}

.menuItem {
	align-items: center;
	background: transparent;
	padding-bottom: 5px;
	padding-left: 22px;
	padding-right: 22px;
	pointer-events: none;
}

.menuItem:hover {
	background: transparent;
	color: #fff;
	border-left: none;
}

.menuItem:active {
	background: transparent;
	color: #fff;
}

.menuItem .menuItemTitle {
	margin-top: 0;
	color: var(--accent-color) !important;
	font-size: 18px !important;
	text-transform: var(--text-transform);
	pointer-events: all;
	transition: all .2s;
}

.menuItemTitle:hover {
	color: #fff !important;
}

.menuItemTitle:active {
	color: #fff !important;
}

.menuItem .menuItemIcon {
	position: relative;
	width: 100%;
	height: 45%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: none;
}

#menuWindow {
	max-height: calc(100% - 360px) !important;
	background-color: var(--menu-bg-color);
	box-shadow: none;
	border-radius: 0;
}

.menuTabsNew {
	border-radius: 0;
	background-color: transparent;
}

.menuTabNew {
	color: var(--accent-color);
}

.menuTabNew:hover {
	color: #fff;
	border-bottom: none !important;
}

.tabANew {
	color: #fff !important;
	border-bottom: none !important;
}

.tabANew:hover {
	border-bottom: none !important;
}

#settingsTabLayout {
	background-color: transparent !important;
	font-size: 18px;
}

.settingsBtn {
	background-color: transparent;
	color: var(--accent-color);
	font-size: 14px;
}

.settingTab:hover {
	color: #fff;
	border-bottom: none !important;
}

.menuLink {
	font-size: 18px;
}

.menuLink:hover {
	color: #fff;
	text-decoration: none;
}

#profilePicM {
	border-radius: 0;
}

.xpBar {
	height: 20px;
	background-color: var(--menu-bg-color-secondary);
	border-radius: 0;
}

.xpBarB {
	background-color: var(--accent-color);
}

.xpBarV {
	top: 7px;
}

.chalCard {
    background-color: transparent;
    text-shadow: none;
}

.chalRight {
    color: var(--accent-color);
}

.chalDesc {
    color: rgba(255, 255, 255, .5);
}

.chalXPBar {
    height: 20px;
    background-color: var(--menu-bg-color-secondary);
    border-radius: 0;
}

.chalXPBarC {
    height: 20px;
    background-color: var(--accent-color);
    border-radius: 0;
}

.chalProg {
	top: 3px;
}

.settingsHeader {
	background-color: transparent;
	position: relative;
}

#requiresRestart {
	display: none;
}

.serverHeader {
	background-color: transparent;
	position: relative;
}

.menuSelectorHeader {
	font-size: 18px;
}

.menuSelector {
	font-size: 18px;
}

#serverSearch,
#settSearch {
	background-color: var(--menu-bg-color-secondary);
	font-size: 18px;
	border-radius: 0;
}

#serverSearch::placeholder,
#settSearch::placeholder {
	color: rgba(255, 255, 255, .5);
	font-size: 18px;
}

.quickJoin {
	background-color: var(--accent-color);
	border-radius: 0;
}

.partyAvatar {
	border-radius: 0;
}

.jQR {
	background-color: transparent !important;
	color: var(--accent-color) !important;
	box-shadow: none !important;
}

.jQR:hover {
	color: #fff !important;
	box-shadow: none !important;
}

.jQR:active {
	color: #fff !important;
	box-shadow: none !important;
}

.joinQueue {
	background-color: transparent;
	color: var(--accent-color);
	box-shadow: none;
	text-shadow: none;
}

.joinQueue:hover {
	height: 60px;
	margin-top: 10px;
	color: #fff;
	box-shadow: none;
}

.joinQueue:active {
	height: 60px;
	margin-top: 10px;
	color: #fff;
	box-shadow: none;
}

#modDropper {
	background-color: var(--menu-bg-color-secondary);
	border: 4px solid transparent;
}

#loadoutSelect {
	background-color: var(--menu-bg-color-secondary) !important;
	border-radius: 0 !important;
}

.loadoutBtn {
	background-color: transparent;
	color: var(--accent-color);
	font-size: 18px;
}

.classCard {
	background-color: transparent;
	text-shadow: none;
}

.classImgC {
	border-radius: 0;
}

.classXPBar {
	background-color: var(--menu-bg-color-secondary);
	border-radius: 0;
}

.clsXPBarC {
	background-color: var(--accent-color);
}

.skinColorItem {
	border: none;
}

.switch {
	margin-bottom: 0;
}

.slidecontainer {
	margin-top: 3px;
}

.slider {
	border-radius: 0;
	background-color: var(--menu-bg-color-secondary);
}

.slider::before {
	border-radius: 0;
}

input:checked+.slider {
	background-color: var(--accent-color);
}

input:focus+.slider {
	box-shadow: none;
}

.slider2 {
	border-radius: 0;
	background-color: var(--menu-bg-color-secondary);
}

.slider2::before {
	border-radius: 0;
}

input:checked+.slider2 {
	background-color: var(--accent-color);
}

input:focus+.slider2 {
	box-shadow: none;
}

.sliderM {
	border-radius: 0;
	background-color: var(--menu-bg-color-secondary) !important;
}

.sliderM::-webkit-slider-thumb {
	border-radius: 0;
	background: var(--accent-color);
}

.sliderM::-moz-range-thumb {
	border-radius: 0;
	background: var(--accent-color);
}

.sliderSml {
	background-color: var(--menu-bg-color-secondary);
	border-radius: 0;
}

.sliderSml:before {
	background-color: #fff;
	border-radius: 0;
}

input {
	background: var(--menu-bg-color-secondary) !important;
	color: var(--accent-color) !important;
	border-radius: 0 !important;
}

input::placeholder {
	color: rgba(255, 255, 255, .5) !important;
}

input[type=color] {
	border: 4px solid #fff;
	border-radius: 0;
}

input:checked+.sliderSml {
	background-color: var(--accent-color)
}

input:focus+.sliderSml {
	box-shadow: 0 0 1px #2196f3
}

.switchsml {
	margin-bottom: 0;
}

.sliderVal {
	height: 16px;
	font-size: 16px;
	border-radius: 0;
	background: var(--accent-color);
}

.inputGrey {
	background: var(--menu-bg-color-secondary);
	border-radius: 0;
}

.inputGrey2 {
	background: var(--menu-bg-color-secondary);
	border-radius: 0;
}

.smlInput {
	background-color: var(--menu-bg-color-secondary);
	border-radius: 0 !important;
}

.smlInput::placeholder {
	color: rgba(255, 255, 255, .5);
}

.accountInput {
	background-color: var(--menu-bg-color-secondary);
	font-size: 18px;
	border-radius: 0 !important;
}

.accountInput::placeholder {
	color: rgba(255, 255, 255, .5);
	font-size: 18px;
}

.searchBtn {
	background-color: transparent;
	color: var(--accent-color);
}

.accountButton {
	background-color: transparent;
	color: var(--accent-color);
	font-size: 18px;
}

.searchBtn:hover {
	color: #fff;
	filter: grayscale(.3);
	-webkit-filter: grayscale(.3)
}

.subPassChg {
	background-color: transparent;
	color: var(--accent-color);
}

.subPassChg:hover {
	background-color: transparent;
	color: #fff;
	transform: none;
}

.lnkTw {
	background-color: transparent;
	color: var(--accent-color);
}

.lnkTw:hover {
	background-color: transparent;
	color: #fff;
	transform: none;
}

.hostMap {
	border-radius: 0;
	border: none;
}

.hostMapName {
	text-shadow: none;
}

.hostMapYear {
	text-shadow: none;
}

.hostMapVersion {
	text-shadow: none;
}

.hostOpt {
	background-color: transparent;
	border-radius: 0;
	border: none;
}

.optName {
	text-shadow: none;
}

.optCheck {
	background-color: var(--menu-bg-color-secondary);
	border-radius: 0;
}

input:checked+.optCheck {
	background-color: var(--accent-color);
}

.hostToggle {
	background-color: transparent;
	color: var(--accent-color);
	font-size: 18px;
}

.hostToggle:hover {
	color: #fff;
}

.hostPresetBtn {
	background-color: transparent;
	color: var(--accent-color);
	font-size: 18px;
}

#presetSelect {
	background-color: var(--menu-bg-color-secondary) !important;
	border-radius: 0 !important;
}

.shopCard {
	border-radius: 0;
	text-shadow: none;
}

.loadMoreD {
	background-color: transparent;
	font-size: 18px;
	color: var(--accent-color);
	border-radius: 0;
}

.loadMoreD:hover {
	background-color: transparent;
	color: #fff;
}

.loadMoreW {
	background-color: transparent;
	font-size: 18px;
	color: var(--accent-color);
	border-radius: 0;
}

#modVote {
	font-size: 18px;
}

.voteHint {
	background-color: transparent !important;
	color: var(--accent-color);
	text-shadow: none;
}

.voteHint:hover {
	color: #fff;
	filter: none;
	-webkit-filter: none;
}

.material-icons.vote {
	font-size: 32px;
}

#mapInfo {
	font-size: 18px;
	text-transform: var(--text-transform);
}

#instructions {
	position: absolute;
	z-index: 9;
	color: var(--accent-color);
	font-size: 24px;
	text-transform: var(--text-transform);
	animation: none;
	-webkit-animation: none;
}

#instructions::after {
	display: block;
	margin-top: 10px;
	color: red;
	font-size: 48px;
	text-transform: none;
	content: 'GO TO css.reizu.moe, REMOVING ALL CSS FROM reizu.moe SOON';
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0 !important;
	background-color: transparent !important;
}

::-webkit-scrollbar {
	width: 4px !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 0 !important;
	background-color: var(--accent-color);
	-webkit-box-shadow: none;
	box-shadow: none;
}

#killCardHolder {
	bottom: 100px;
}

#timerDisplay {
	text-align: center;
	position: fixed;
	transform: translateX(-50%);
	top: 0;
	left: 50%;
	width: 150px;
	height: 35px;
	padding: 0;
	padding-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	border-radius: 0;
	background-color: var(--ingame-bg-color);
	will-change: unset;
}

#timerVal {
	font-size: 28px;
	padding-left: 0;
	will-change: unset;
}

#timerIcon {
	display: none;
}

#fpsDisplay {
	visibility: hidden;
}

#ingameFPS {
	color: #fff !important;
	visibility: visible;
}

#pingText {
	color: #fff !important;
}

#pingIcon {
	color: var(--accent-color) !important;
}

#pingDisplay .material-icons {
	font-size: 20px;
}

#teamScores {
	position: fixed;
	top: 35px;
	left: 50%;
	transform: translateX(-50%);
	width: 150px;
	height: 25px;
	padding: 10px;
	padding-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	border-radius: 0;
	background-color: transparent;
}

.tScore {
	display: inline-block;
}

#tScoreV1 {
	position: fixed;
	left: -25%;
	top: 4px;
}

#tScoreV2 {
	position: fixed;
	left: 25%;
	top: 4px;
}

.tScoreT {
	width: 100%;
	text-align: center;
	font-size: 15px;
	color: #fff;
	z-index: 2;
}

.tScoreM {
	display: none;
}

.tScoreF {
	left: 50%;
	width: 75px;
	height: 25px;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	background-color: #eb5656;
	color: transparent;
	opacity: 50%;
	z-index: 1;
}

.tScoreF.you {
	background-color: #5699eb;
	color: transparent;
	opacity: 50%;
	z-index: 1;
}

.tScoreC {
	left: 50%;
	width: 75px;
	height: 25px;
	margin-right: 0;
	background-color: var(--accent-color);
	opacity: 50%;
	z-index: 1;
}

.tScoreC.you {
	background-color: #fff;
	opacity: 50%;
	z-index: 1;
}

#leaderDisplay {
	border-radius: 0;
	background-color: var(--ingame-bg-color);
}

.leaderName {
	color: var(--accent-color);
}

.newLeaderContainer {
	border-radius: 0;
	background-color: var(--ingame-bg-color);
}

.newLeaderName,
.newLeaderNameM,
.newLeaderNameF {
	color: var(--accent-color);
}

.leaderItem .material-icons {
	margin-top: 0 !important;
}

#leaderContainer i[style*="color:#FBC02D"] {
	color: var(--premium-color) !important;
}

#leaderContainer i[style*="color:#40C4FF"] {
	color: var(--verified-color) !important;
}

.teamTotals {
	background-color: var(--menu-bg-color-secondary);
	border-radius: 0;
}

.teamTotalN0 {
	color: #fff;
}

.teamTotalN1 {
	color: var(--accent-color);
}

#endTimer {
	color: #fff;
	text-shadow: none;
	font-style: normal;
}

#endTable {
	background-color: transparent;
	border-radius: 0;
}

.endTableN {
	color: var(--accent-color);
}

.endCard {
	left: 50% !important;
	background-color: var(--menu-bg-color-secondary);
	border-radius: 0;
}

#tabHolder {
	border-radius: 0;
	background-color: transparent;
}

.tabHeader {
	color: var(--accent-color);
}

.tabHeader:hover {
	color: #fff;
	border-bottom: none;
}

.tabHeader.selected {
	color: #fff;
	border-bottom: none;
}

.endSection {
	background-color: transparent;
}

.gfSection {
	background-color: transparent;
}

.modeStatus {
	color: var(--accent-color) !important;
}

.fundsVal {
	color: #fff;
}

#kdLayout {
	background-color: transparent;
	border: none;
}

.crStat {
	background-color: transparent;
	border: none;
}

.crLabel {
	color: #fff;
}

.crVal {
	color: var(--accent-color);
}

.xpRnk {
	width: 0;
}

.xpLvl {
	color: #fff;
}

.xpEndBar {
	border-radius: 0;
	background-color: rgba(0, 0, 0, .5);
}

.xpEndBarB {
	background-color: var(--accent-color);
}

.xpEndBarV {
	text-shadow: none;
	top: 10px;
}

#medalTable {
	background-color: transparent;
}

#matchVoteHolder {
	background-color: transparent;
}

.matchVote {
	margin-right: 0;
	border-radius: 0;
	text-shadow: none;
}

.matchVoteThumb {
	border-radius: 0;
}

.countIcon {
	background-color: var(--ingame-bg-color);
	border-radius: 0;
	padding: 7px;
}

#deathsVal,
#killsVal,
#livesDisp,
#streakVal,
#myScoreVal {
	bottom: 7px;
	position: relative;
}

.kfItem {
	border-radius: 0;
	background-color: var(--ingame-bg-color);
}

#hudClassIcon {
	display: none;
}

#healthValueHolder {
	background-color: transparent;
	width: 100px;
	height: 65px;
	border-radius: 0;
	position: fixed;
	left: 30%;
	bottom: 25%;
	padding: 0;
	margin-bottom: 0;
	padding-right: 0;
	padding-left: 0;
	align-items: center;
}

#healthValue {
	color: var(--health-color);
	font-family: hpammo;
	font-size: 48px;
	text-align: center;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
	margin-top: 0;
	will-change: unset;
}

#maxHP {
	display: none;
}

#challIcon {
	display: none !important;
}

#healthBar {
	display: none;
}

#ammoDisplay {
	background-color: transparent;
	letter-spacing: 0;
	width: 100px;
	height: 65px;
	border-radius: 0;
	position: fixed;
	right: 31%;
	bottom: 25%;
	padding: 0;
	padding-top: 0;
	padding-left: 0;
	transform: none;
}

#ammoVal {
	color: var(--ammo-color);
	font-family: hpammo;
	font-size: 48px;
	margin-left: 12px;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#ammoMax {
	display: none;
}

#ammoIcon {
	display: none;
}

#reloadMsg {
	bottom: 100px;
	background: transparent !important;
}

#chatInput {
	background-color: var(--ingame-bg-color) !important;
	font-size: 16px;
}

#chatInput::placeholder {
	color: rgba(255, 255, 255, .5) !important;
	text-transform: var(--text-transform);
}

#chatHolder {
	bottom: 20px !important;
	left: 20px !important;
	background-color: var(--ingame-bg-color);
}

.chatItem {
	border-radius: 0;
	background-color: transparent !important;
}

#weapDisplay {
	display: flex !important;
	flex-direction: row !important;
	bottom: 20px;
	right: 50%;
	transform: translateX(50%);
}

.weapItem {
	margin-top: 0;
}

.weapKey {
	display: none;
}

.weapIcon {
	width: 100px;
	height: 50px
}

#voiceDisplay {
	display: none;
}

#gameMessage {
	top: 70px;
	font-size: 18px;
}

#curGameInfo {
	display: none;
}

.readAll {
	background-color: transparent;
	color: var(--accent-color);
}

.readAll:hover {
	background-color: transparent;
	color: #fff;
}
